/* Import Fonts */
@import url("fonts.css");

/* Root CSS */
:root {
  /* Margin */
  --margin-base: 60px;

  /* Padding */
  --padding-horizontal-base: 28px;
  --padding-vertical-base: 16px;

  /* Border Radius */
  --border-radius-base: 24px;

  /* Colors */
  --background-color: #fafafa;
  --primary-color: #5a4fcf;
}

/* Mengatur Base Margin, Padding, Typography, dll */
body {
  font-family: "Poppins";
  font-weight: 500;
  margin: var(--margin-base);
  background-color: var(--background-color);
}

/* Navbar Styling */
/* Reset Container Fluid Padding */
.container-fluid {
  padding: 0;
}

/* Memberi margin navbar terhadap elemen di bawahnya */
nav {
  margin-bottom: var(--margin-base);
}

/* Memberi margin kanan untuk tiap link item pada navbar */
.nav-item {
  margin-right: 30px;
}

/* Memberi styling pada active link */
.active {
  text-decoration: underline solid var(--primary-color) 2px;
  text-underline-offset: 2px;
}

/* Mereset icon dropdown toggle */
.dropdown-toggle::after {
  display: none;
}

/* Centering Logo */
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  font-family: "Nunito";
  font-size: 28px;
}

/* Styling Main Search */
.main-search {
  padding: var(--padding-vertical-base) var(--padding-horizontal-base);
  width: 322px;
  margin-right: 20px;
}

/* Styling Login Button */
.btn-login {
  padding: var(--padding-vertical-base) var(--padding-horizontal-base);
  background-color: #5a4fcf10;
  color: var(--primary-color);
  font-weight: 600;
}
/* Navbar End Styling */

/* Hero Styling */
.hero {
  display: inline;
  overflow: hidden;
}

/* Styling Rounded Card */
.card {
  border-radius: var(--border-radius-base);
  width: 1128px;
  height: 564px;
}

.card img {
  border-radius: var(--border-radius-base);
}

/* Hero End Styling */
